[submodule "libs/pythologist-schemas"]
	path = libs/pythologist-schemas
	url = ../pythologist-schemas.git
[submodule "libs/pythologist-reader"]
	path = libs/pythologist-reader
	url = ../pythologist-reader.git
[submodule "libs/pythologist-test-images"]
	path = libs/pythologist-test-images
	url = ../pythologist-test-images.git
[submodule "libs/pythologist-image-utilities"]
	path = libs/pythologist-image-utilities
	url = ../pythologist-image-utilities.git
